$font-common: arial,helvetica,sans-serif;

$font-size-normal: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

$break-point-desktop:           "(min-width:901px)";
$break-point-tablet:            "(max-width: 900px)";
$break-point-mobile:            "(max-width: 600px)";

$item-height: 200px;

$gutter-normal: 10px;

$background-normal: #c9c9c9;